body {
    font-family: 'Arial', sans-serif;
}

#preview {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.blend-layer {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    mask-size: cover;
    mask-position: center;
}

#layer1 {
    mask-image: url('layer1.png');
}

#layer2 {
    mask-image: url('layer2.png');
}

#layer3 {
    mask-image: url('layer3.png');
}

#layer4 {
    mask-image: url('layer4.png');
}

.logo-img {
    width: auto;
    height: 1.5rem; /* Reduced height by 50% */
}
